.searchBoxWrapper {
  border: 1px solid #fff;
  background-color: #fff;
  width: 30%;
  border-radius: 10px;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  position: relative;
  .Icon {
    width: 10%;
    height: 1.25rem;
    object-fit: contain;
    cursor: pointer;
  }
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 20;
  }
  .input {
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    width: 90%;
    color: #000;
    &:focus {
      outline: none;
    }
  }
  .filterForm {
    position: absolute;
    border-radius: 10px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    top: 3rem;
    padding: 2rem;
    z-index: 25;
    right: 1rem;
    width: 30rem;
    background-color: #fff;
    .inputWrapper {
      display: flex;
      align-items: center;
      gap: 1rem;
      width: 100%;
      padding-right: 2rem;
      label {
        text-align: left;
      }
      select {
        width: 5rem;
      }
      input[type="checkbox"] {
        appearance: none;
        -webkit-appearance: none;
        cursor: pointer;
        display: flex;
        align-content: center;
        justify-content: center;
        font-size: 1rem;
        padding: 0.15rem;
        border: 1px solid #000;
        &::before {
          content: "";
          width: 0.75rem;
          height: 0.75rem;
          transform: scale(0);
          background-color: #000;
        }
        &:checked::before {
          transform: scale(1);
        }
        &:hover {
          color: black;
        }
      }
    }
    .btn {
      cursor: pointer;
      padding: 0.5rem 3rem;
      margin-top: 2rem;
      align-self: center;
      border-radius: 6px;
      background-color: #b6bbc4;
      color: #fff;
      position: relative;
      border: none;
      overflow: hidden;
      z-index: 2;
      transition: all 500ms cubic-bezier(0.06, 0.88, 1, 0.99);
      &::before {
        content: "";
        position: absolute;
        left: -110%;
        top: 0;
        transition: transform 500ms cubic-bezier(0.06, 0.88, 1, 0.99);
        background-color: #000;
        width: 110%;
        z-index: -1;
        height: 100%;
      }
      &:focus {
        transform: scale(0.9);
      }
      &:hover {
        &::before {
          transform: translateX(95%);
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .searchBoxWrapper {
    width: 100%;
    .filterForm {
      right: 0;
      width: 100%;
      gap: 2rem;
      .inputWrapper {
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
      }
    }
  }
}
