.searchBoxWrapper {
  border: 1px solid #fff;
  background-color: #fff;
  width: 30%;
  border-radius: 10px;
  padding: 0.25rem;
  display: flex;
  align-items: center;
  .Icon {
    width: 10%;
    height: 1.25rem;
    object-fit: contain;
    cursor: pointer;
  }
  .input {
    border: none;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    width: 90%;
    &:focus {
      outline: none;
    }
  }
}
